# ignore all uploaded files (do not commit to git)
*
!.gitignore

# TODO: except do not ignore the "seed" images for the "entries" table.
!/posts/
!/posts/1.jpg
!/posts/2.jpg
!/posts/3.jpg
!/posts/4.jpg
!/posts/5.jpg
!/posts/6.jpg
!/posts/7.jpg
!/posts/8.jpg
!/posts/9.jpg
!/posts/10.jpg
!/posts/11.jpg
!/posts/12.jpg
!/posts/13.jpg
!/posts/14.jpg

!/users
!/users/mtd64.jpg
!/users/ez455.jpg
!/users/jjj45.jpg
