body {
  font-family: sans-serif;
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #444;
  background-color: #e9d358;
  margin: 15px;
}

a {
  color: white;
}

a:visited {
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  top: 0;
  position: sticky;
  background-color: #a53724;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding-bottom: 15px;
}

/* hide header when scrolling */
header.hidden {
  display: none;
}

header input {
  margin: 10px;
  border-radius: 5px;
  border: none;
  background-color: #a53724;
  color: white;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  bottom: 0;
  background-color: #a53724;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 15px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

nav button {
  margin: 10px;
  border-radius: 5px;
  border: none;
  background-color: #a53724;
  color: white;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); */
}

nav button:hover {
  background-color: white;
  color: #a53724;
  cursor: pointer;
}

nav form input {
  box-shadow: none;
}

nav form #search-box {
  color: white;
  border: #444 solid 1px;
  border-color: white;
}

nav .nav-pages {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

::placeholder {
  color: white;
}

nav form #search-button:hover {
  background-color: white;
  color: #a53724;
  cursor: pointer;
}

aside {
  display: flex;
  flex-direction: column;
  border: #a53724 solid 5px;
  color: black;
  border-radius: 0 10px 10px 0;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px;
}

aside a {
  color: black;
}

aside a:visited {
  color: black
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  margin-left: 500px;
  margin-right: 500px;
  min-height: 85vh;
}

main aside {
  display: flex;
  margin-bottom: 5px;
  height: fit-content;
}

main .feed {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#users-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
}

#users-grid .card {
  display: flex;
  width: 200px;
  height: min-content;
  border: #a53724 solid 5px;
  background-color: #a53724;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

#users-grid img {
  display: flex;
  border-radius: 5px;
  max-width: 150px;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  border: #a53724 solid 5px;
  background-color: #a53724;
  color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.user-link {
  color: white;
}

#post-details {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-top: 150px;
}

#post-details a {
  color: black;
}

#post-details a:visited {
  color: black;
}

.comments {
  margin-bottom: 150px;
}


.add-post {
  margin: 15px;
  padding: 15px;
}

.add-post input {
  margin: 5px;
}

.add-post .add-button {
  /* alight right */
  justify-content: end;
}

#user-link-post-details,
#user-link-comment {
  color: black;
}

#tag-results {
  margin-left: 55px;
}

.confirmation {
  color: black;
}

.confirmation a {
  color: black;
}

.confirmation a:visited {
  color: black;
}

.tags a {
  color: black;
}

.tags a:visited {
  color: black;
}

.details {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-bottom: 150px;
}

.profile-details {

  display: flex;
  flex-direction: column;
  background-color: #a53724;
  border-radius: 10px;
  padding: 25px;
  color: white;
  height: max-content;
  margin: 25px;
}

.profile-details p {
  margin: 15px;
}


.profile-details img {
  width: 400px;
  border-radius: 10px;
  margin-top: 15px;
}

.profile-details strong {
  margin-top: 15px;
}

.profile-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card .head {
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.card img {
  display: flex;
  /* center photo */
  margin: auto;
  border-radius: 5px;
  height: 300px;
}

.feedback {
  color: #dc341e;
  font-weight: bold;
}

.details {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}


.profile {
  display: flex;
  flex-direction: row;
}

.post-photo img {
  display: inline;
  margin: auto;
  width: 750px;
  border-radius: 10px;
}

.modal {
  z-index: 1;
  color: white;
  background-color: #a53724;
  align-items: center;
  margin: auto;
  padding: 15px;
  border: 2px solid #a53724;
  border-radius: 5px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}
